.button {
    width: 241px;
    height: 60px;
    margin-top: 37px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    background-color: $main-color;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
        transition: 0.35s all;
    }
    &_center {
        display: block;
        margin: 0 auto;
    }
}