.deployment {
    min-height: 507px;
    padding-top: 73px;
    background: url(../img/deployment_joined.png) center (center / cover) no-repeat;
    &__wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 87px;
        width: 74%;
    }
    &__rectangle {
        min-width: 167px;
        height: 167px;
        background-color: rgba($color: $main-color, $alpha: 0.3);
        &:nth-child(2) {
            margin-right: 90px;
        }
    }
    &__inner {
        position: relative;
        text-align: right;
        right: -130px;
        top: 38px;
        width: 100%;
        color: #fff;
        &:last-child {
            text-align: left;
            right: auto;
            left: -130px;
        }
    }
    &__title {
        font-size: 30px;
        font-weight: 900;
        line-height: 0.73;
        text-transform: uppercase;
    }
    &__descr {
        margin-top: 19px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.44;
    }
}